@{
    Layout = "_LayoutSysAdmin";
    ViewData["title"] = "List All User with Balance";
}

<form id="frmAllUsers" name="frmAllUsers" asp-action="" asp-controller="SysAdmin">
    <div class="card mb-4">
        <h6 class="card-header">UPPCL All Users Report<span id="InfoDetail" name="InfoDetail" class=""></span></h6>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-4 form-group">
                    <button type="button" class="btn btn-primary" onclick="LoadUsers();">Load Users List</button>
                    <button type="button" class="btn btn-primary" onclick="ExportExcel();">Export Users List</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">User USL</label>
                    <input id="OrderNo" name="OrderNo" class="form-control" onblur="javascript: LoadDetail();" data-style="btn-default" required>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">Date<span class="text-danger">*</span></label>
                    <input name="txtReportDate" id="txtReportDate" type="text" class="form-control flatpickr-date required">
                </div>
                <div class="col-lg-2 form-group" id="actiondiv">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="LoadByUserAndDate();">Load Users List</button>
                </div>
                <div class="col-lg-2 form-group" id="actiondiv">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="ExportExcelByUserAndDate();">Export Users List</button>
                </div>
            </div>
            <span id="loaderInfo" name="loaderInfo"></span>
        </div>
    </div>
    
    <div class="card">
        <h6 class="card-header alert-primary" id="lblReport">
            Users List
        </h6>
        <div class="card-datatable table-responsive">
            <table class="table table-striped table-bordered" id="datatable-grid-allretail">
                <thead>
                <tr>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#OrderNo').keyup(function () {
            if ($(this).val() == '') {
                $('#actiondiv').removeClass('hide');
                $('#loaderInfo').html('');
            }
        });
    });
    
    function LoadUsers() {
        if ($.fn.DataTable.isDataTable('#datatable-grid-allretail')) {
            $('#datatable-grid-allretail').DataTable().destroy();
        }
        $('#datatable-grid-allretail tbody').empty();
        $('#ddatatable-grid-allretail thead').empty();
        

        var $table = $('#datatable-grid-allretail');
        $table.dataTable({
            iDisplayLength: 50,
            bAutoWidth: true,
            sAjaxSource: '@Url.Action("AllUserReportResult", "SysAdmin")?x=0',
            cache: false,
            order: [[4, "asc"], [2, "asc"]],
            columns: [
                { data: "Id", title: "Id" }, { data: "USL", title: "USL" }, { data: "UserType", title: "UserType" }, { data: "RetailerName", title: "RetailerName" }, 
                { data: "RName", title: "RName" }, { data: "MobileNumber", title: "Mobile" }, { data: "ParentName", title: "ParentName" }, { data: "Balance", title: "Balance" }, 
                { data: "UPPCL_AgentVAN", title: "UPPCL VAN" }, { data: "UPPCL_Balance", title: "UPPCL_Balance" }, { data: "UPPCL_BalanceTime", title: "UPPCL_BTime" },
                { data: "City", title: "City" }, { data: "Address", title: "Address" },
                { data: "EMail", title: "EMail" }, { data: "Active", title: "Active" }
            ]
        });

        $('#lblReport').html('All users report.');
    }
    
    function ExportExcel() {
        $('#lblReport').html('Loading report...');
        $.get('@Url.Action("AllUserReportResult", "SysAdmin")?x=1',
        function(data) {
            if (data.indexOf('Errors:') > -1) {
                $('#lblReport').html(data).removeClass('text-success').addClass('text-danger');
            } else {
                $('#lblReport').html('All Users Report - ' + data);
            }
        });
    }

    function LoadByUserAndDate() {
        if ($.fn.DataTable.isDataTable('#datatable-grid-allretail')) {
            $('#datatable-grid-allretail').DataTable().destroy();
        }
        $('#datatable-grid-allretail tbody').empty();
        $('#ddatatable-grid-allretail thead').empty();


        var $table = $('#datatable-grid-allretail');
        $table.dataTable({
            iDisplayLength: 50,
            bAutoWidth: true,
            sAjaxSource: '@Url.Action("AllUserReportResultByUserAndDate", "SysAdmin")?x=0&date=' + a2hex($('#txtReportDate').val()) + '&orderNo=' + $('#OrderNo').val(),
            cache: false,
            order: [[4, "asc"], [2, "asc"]],
            columns: [
                { data: "Id", title: "Id" }, { data: "USL", title: "USL" }, { data: "UserType", title: "UserType" }, { data: "RetailerName", title: "RetailerName" },
                { data: "RName", title: "RName" }, { data: "MobileNumber", title: "Mobile" }, { data: "ParentName", title: "ParentName" }, { data: "Balance", title: "Balance" },
                { data: "UPPCL_AgentVAN", title: "UPPCL VAN" }, { data: "UPPCL_Balance", title: "UPPCL_Balance" }, { data: "UPPCL_BalanceTime", title: "UPPCL_BTime" },
                { data: "City", title: "City" }, { data: "Address", title: "Address" },
                { data: "EMail", title: "EMail" }, { data: "Active", title: "Active" }
            ]
        });

        $('#lblReport').html('All users report.');
    }

    function ExportExcelByUserAndDate() {
        $('#lblReport').html('Loading report...');
        $.get('@Url.Action("AllUserReportResultByUserAndDate", "SysAdmin")?x=1&date=' + a2hex($('#txtReportDate').val()) + '&orderNo=' + $('#OrderNo').val(),
            function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#lblReport').html(data).removeClass('text-success').addClass('text-danger');
                } else {
                    $('#lblReport').html('All Users Report - ' + data);
                }
            });
    }

    function LoadDetail() {
        if ($('#OrderNo').val().length > 0) {
            $.get("@Url.Action("RetailUserDetail", "CommonAuthAction")?usd=" + a2hex($('#OrderNo').val()), function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#loaderInfo').html(data).removeClass('text-success').addClass('text-danger');
                    $('#actiondiv').addClass('hide');
                } else {
                    $('#loaderInfo').html(data).removeClass('text-danger').addClass('text-success');
                    $('#actiondiv').removeClass('hide');
                }
            });
        }
        else {
            $('#actiondiv').removeClass('hide');
            $('#loaderInfo').html('');
        }

    }

</script>