@{
    if (Context.Session.TryGetValue("usr", out byte[] userType))
    {
        var st = System.Text.Encoding.UTF8.GetString(userType);
        ViewData["usr"] = st;
    }
}
<form id="frmReport" method="post" action="">
    <div class="card">
        <h6 class="card-header">Retail User List <span id="InfoDetail" name="InfoDetail"></span></h6>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">User USL</label>
                    <input id="OrderNo" name="OrderNo" class="form-control" onblur="LoadDetail();" data-style="btn-default" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="SendPassword();"><span class="far fa-paper-plane"></span> Send Password</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="ResetPassword();"><span class="fas fa-pen-nib"></span> Reset Password</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="LoadMarginSheet();"><span class="fas fa-wallet"></span> Margin Sheet</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="LoadRetailUser();"><span class="fas fa-users"></span> All User</button>
                </div>
                <div class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="PendingRequests();"><span class="fas fa-space-shuttle"></span> Pending Requests</button>
                </div>
                <div id="switchDiv" class="col-lg-2 form-group">
                    <label class="form-label">&nbsp;</label>
                    <button type="button" class="form-control btn btn-primary" onclick="SwitchDistributer();"><span class="fas fa-space-shuttle"></span> Switch Distributor</button>
                </div>                
            </div>
        </div>
    </div>
    <div class="card">
        <h6 class="card-header" id="lblReport">
            Retail User List
        </h6>
        <div class="card-datatable table-responsive">
            <table class="table table-striped table-bordered" id="datatable-grid-allretail">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="ModalPopUp" role="dialog">
        <div class="modal-dialog err-pop" id="sdmodal">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <label for="userId" class="form-label">User Id or USL or Mobile:</label>
                                <input type="text" id="userId" name="userId" class="form-control">
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="form-label">&nbsp;</label>
                                <input type="button" value="Search" onclick="ShowUserDetails()" class="form-control btn btn-primary">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <label for="lname" class="form-label">To Distributor:</label>
                                <select name="distributor" id="distributor" class="form-control"></select>
                            </div>
                            <div class="col-sm-4 form-group">
                                <label class="form-label">&nbsp;</label>
                                <input type="button" value="Submit" id="submitButton" onclick="UpdateDistributor()" class="form-control btn btn-primary" disabled>
                            </div>
                        </div>
                        <div class="card-datatable table-responsive">
                            <table class="table table-striped table-bordered" id="datatable-grid-searchuser">
                                <thead>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="KYCModalPopUp" role="dialog">
        <div class="modal-dialog err-pop" id="sdmodal1">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose1" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <h5 id="userDetail" name="userDetail"></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8 form-group">
                                <span>Download the files for verification from this given link:</span> 
                            </div>
                            <div class="col-sm-4 form-group">
                                <input type="button" id="download" value="Download" onclick="DownloadFiles()" class="form-control btn btn-primary">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label class="form-label"></label>
                                <select id="sel" name="sel" class="form-control form-control-sm" data-style="btn-default" onchange="OnChangeActivation(this);">
                                    <option value="0">Inactive</option>
                                    <option value="1">Active</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label class="form-label">Documents verified</label>
                                <select id="verified" name="verified" class="form-control form-control-sm" data-style="btn-default" onchange="OnChangeVerificationStatus(this);">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" id="faileddiv">
                            <div class="col-sm-12 form-group">
                                <label class="form-label">Documents verification Failed</label>
                                <select id="pkyc" name="pkyc" class="form-control form-control-sm" data-style="btn-default" onchange="OnChangeVerification(this);">
                                    <option value="0">No</option>
                                    <option value="1">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="reasondiv">
                            <label class="form-label">Failure Reason</label>
                            <textarea rows="2" autocomplete="off" class="form-control" id="reason"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <input type="button" id="activate" value="Submit" onclick="Activate()" class="form-control btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ConfirmationPopUp" role="dialog">
        <div class="modal-dialog err-pop" id="sdmodal1">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="DivClose1" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <p id="confirmationp">Do you want to change status of all child retailers as well?</p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <input type="button" id="download" value="Yes" onclick="Yes()" class="form-control btn btn-primary">
                            </div>
                            <div class="col-sm-6 form-group">
                                <input type="button" id="download" value="No" onclick="No()" class="form-control btn btn-primary">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    let isApplicable = '@(ViewData["usr"].ToString() == "sadm")';
    if (isApplicable.toString() == "True")
    {
        $("#switchDiv").hide();
    }
    $(document).ready(function () {        
        $("#distributor").select2({
            dropdownParent: $('#ModalPopUp'),
            width: "100%",
            templateResult: formatResult,
            templateSelection: formatSelection,
            escapeMarkup: function (m) { return m; },
            closeOnSelect: true
        });
    });

    function formatResult(item) {
        if (item.loading) {
            return 'Searching...';
        }
        return $('<div><h5 style="font-weight: bold;">' + item.text + '</h5></div> ');
    }

    function formatSelection(item) {
        if (!item.id)
            return $(item.text);
        else
            return $('<b>' + item.text + '</b>');
    }

    function OnChangeActivation(sel) {
        if(sel.value == 0) {
            $("#verified").val(0);
        }
    }

    function OnChangeVerification(sel) {
        if (sel.value == 0) {
            $("#reason").val('')
            $("#reason").attr("required", false);
            $("#reason").attr("readOnly", true);
            $("#activate").prop('disabled', false);
        }
        else {
            $("#reason").attr("required", true);
            $("#reason").attr("readOnly", false);
            $("#activate").prop('disabled', true);
        }
    }

    function OnChangeVerificationStatus(sel) {
        if (sel.value == 1) {
            $("#reason").val('')
            $("#pkyc").val(0);
            $("#faileddiv").addClass('hide');
            $("#reasondiv").addClass('hide');
        }
        else {
            $("#faileddiv").removeClass('hide');
            $("#reasondiv").removeClass('hide');
        }
    }

    function Activate() {
        var user = new Object();
        user.Id = $('#download').attr('alt');
        user.Active = $('#sel').val();
        user.DocVerificationFailed = $('#pkyc').val();
        user.DocVerification = $('#verified').val();
        user.FailureReason = $('#reason').val();
        $.ajax({
            type: "POST",
            url: "@Url.Action("ChangeKYCActivation", "CommonAuthAction")",
            content: "application/json; charset=utf-8",
            dataType: "json",
            data: user,
            success: function (response) {
                if (response.responseText.indexOf('Errors:') > -1) {
                    $('#InfoDetail').html(response.responseText).removeClass('text-success').addClass('text-danger');
                } else {
                    $('#InfoDetail').html(response.responseText).removeClass('text-danger').addClass('text-success');
                }
                $('#KYCModalPopUp').modal('hide')
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
            
    }

    function DownloadFiles() {
        var id = $('#download').attr('alt');
        window.location = "@Url.Action("DownloadFiles", "CommonAuthAction")?id=" + id;
    }
    
    function LoadMarginSheet() {
        if ($.fn.DataTable.isDataTable('#datatable-grid-allretail')) {
            $('#datatable-grid-allretail').DataTable().destroy();
        }
        $('#datatable-grid-allretail tbody').empty();
        $('#ddatatable-grid-allretail thead').empty();
        

        var $table = $('#datatable-grid-allretail');
        $table.dataTable({
            destroy: true,
            iDisplayLength: 10,
            bProcessing: true,
            bAutoWidth: true,
            sAjaxSource: '@Url.Action("MarginSheetListByOrderNo", "CommonAuthAction")?usd=' + a2hex($('#OrderNo').val()),
            cache: false,
            order: [[1, "asc"], [2, "asc"]],
            columns: [
                { data: "ID", title: "Id", visible: false } , { data: "RetailUserName", title: "User Detail" }, 
                { data: "OperatorName", title: "Operator Name" }, { data: "OperatorCircle", title: "Operator Circle", visible: false }, { data: "MarginPercent", title: "Margin Percent" },
                { data: "MaxMargin", title: "Max Margin" }, { data: "Active", title: "Active" }
            ]
        });

        $('#lblReport').html('Downline Margin Sheet of ' + $('#OrderNo').val());
    }

    function PendingRequests() {
        LoadUsers(true);
    }

    function LoadUsers(isPending) {
        if ($.fn.DataTable.isDataTable('#datatable-grid-allretail')) {
            $('#datatable-grid-allretail').DataTable().destroy();
        }
        $('#datatable-grid-allretail tbody').empty();
        $('#datatable-grid-allretail thead').empty();

        var $table = $('#datatable-grid-allretail');
        $table.dataTable({
            destroy: true,
            iDisplayLength: 50,
            bProcessing: true,
            bAutoWidth: true,
            sAjaxSource: isPending ? '@Url.Action("GetAllPendingRequests", "CommonAuthAction")' : '@Url.Action("GetAllMasterDistributor", "CommonAuthAction")',
            rowId: 'Id',
            cache: false,
            order: [[2, "asc"]],
            columns: [
                { data: "Id", title: "id" }, { data: "USL", title: "USL", visible: false }, { data: "RetailerName", title: "Retailer Name" }, { data: "ParentName", title: "Parent" },
                { data: "MobileNumber", title: "Mobile Number", visible: false }, { data: "City", title: "City" },
                { data: "EMail", title: "E-Mail", visible: false }, { data: "Address", title: "Address",visible: false },
                { data: "CounterLocation", title: "Counter Location"}, { data: "UPPCL_AgentVAN", title: "UPPCL VAN" },
                { data: "LoginTime", title: "Login Time", visible: false, 
                    render: function (data, type, row) {
                        if (type === "sort" || type === "type") {
                            return data;
                        }
                        return data ? moment(data).format("DD-MM-YYYY HH:mm:ss") : '';
                    }
                },
                {
                    title: "Active/Inactive",
                    data: null, render: function (data, type, row) {
                        if (row.DocVerificationFailed)
                            return '<span class="text-danger">Documents verification failed.</span>'
                        else if (row.ActivatedTill != null)
                            return "<button type='button' class='btn btn-default btn-sm btn-primary' onclick=DoKYC('" + row.Id + "')>Verify Doc</button>";
                        else if (row.Active == 1)
                            return "<input placeholder='active' type='checkbox' class='form - control' data-style='btn -default' autocomplete='off' onchange=ChangeActivation('" + row.Id + "') checked />";
                        else if (row.DocVerification == 0)
                            return "<button type='button' class='btn btn-default btn-sm btn-primary' onclick=DoKYC('" + row.Id + "')>Verify Doc</button>";
                        else
                            return "<input placeholder='active' type='checkbox' class='form - control' data-style='btn -default' autocomplete='off' onchange=ChangeActivation('" + row.Id + "') />";
                    }
                },
                {
                    data: null,
                    title: "Action",
                    render: function (data, type, row) {
                        return "<button data-test='" + row.UPPCL_Active + "' type='button' class='btn btn-default btn-sm btn-primary edit' onclick=Edit('" + row.Id + "')>EDIT</button>" +
                               ((row.UPPCL_AgentVAN != null ) ? "" : " <button type='button' class='btn btn-default btn-sm btn-secondary edit' onclick=REG('" + row.Id + "')>REG</button>") +
                               ((row.UPPCL_AgentVAN == null ) ? "" : (row.UPPCL_Active != null && row.UPPCL_Active === false) ? " <button type='button' class='btn btn-default btn-sm btn-primary edit' onclick=ACT('" + row.Id + "')>ACT</button>" : " <button type='button' class='btn btn-default btn-sm btn-secondary edit' onclick=DEACT('" + row.Id + "')>DEACT</button>");
                               
                    }
                }
            ]
        });
    }
    
    function LoadRetailUser() {
        LoadUsers(false);
    }

    function DoKYC(id, userName) {
        $("#reason").val('')
        $('#download').attr("alt", id);
        $('#userDetail').html(id);
        $.get("@Url.Action("GetActivationDetails", "CommonAuthAction")?id=" + id,
            function (data) { 
                $('#sel').val(data.Active);
                $('#verified').val(data.DocVerification)
                $('#pkyc').val(data.DocVerificationFailed)
                $('#reason').val(data.FailureReason)
                $('#KYCModalPopUp').modal('show');
                if(data.DocVerificationFailed) {
                    $("#reason").attr("readOnly", false);
                }
                else {
                    $("#reason").attr("readOnly", true);
                }
                $('#reason').keyup(function () {
                    if ($(this).val() != '') {
                        $('#activate').prop('disabled', false);
                    }
                    else {
                        $('#activate').prop('disabled', true);
                    }
                });
                if (data.DocVerification == 1) {
                    $("#faileddiv").addClass('hide');
                    $("#reasondiv").addClass('hide');
                }
                else {
                    $("#faileddiv").removeClass('hide');
                    $("#reasondiv").removeClass('hide');
                }
            });
    }

    function Yes() {
        var id = $('#confirmationp').attr('alt');
        $.get("@Url.Action("ChangeActivation", "CommonAuthAction")?id=" + id + '&updateChild=1',
            function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                } else {
                    $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                }
                $('#ConfirmationPopUp').modal('hide');
            });
    }

    function No() {
        var id = $('#confirmationp').attr('alt');
        $.get("@Url.Action("ChangeActivation", "CommonAuthAction")?id=" + id + '&updateChild=0',
            function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                } else {
                    $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                }
                $('#ConfirmationPopUp').modal('hide');
            });
    }

    function ChangeActivation(id) {
        $('#confirmationp').attr("alt", id);
        $('#ConfirmationPopUp').modal('show');
    }

    function UpdateDistributor() {
        var id = $('#userId').attr('alt');
        var masterid = $('#distributor').val();
        $.get("@Url.Action("UpdateDistributor", "CommonAuthAction")?id=" + id + '&masterId=' + masterid,
            function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                } else {
                    $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                }
                $('#ModalPopUp').modal('hide');
            });
    }
    
    function LoadDetail() {
        if ($('#OrderNo').val().length > 0) {
            $.get("@Url.Action("RetailUserDetail", "CommonAuthAction")?usd=" + a2hex($('#OrderNo').val()), function (data) {
                if (data.indexOf('Errors:') > -1) {
                    $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                    HideAction();
                } else {
                    $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                    ShowAction();
                }
            });
        }
        else {
            $('#InfoDetail').html('');
        }
    }
    
    function SendPassword() {
        if ($('#OrderNo').val().length > 0) {
            $.get("@Url.Action("SmsPassword", "CommonAuthAction")?usd=" + a2hex($('#OrderNo').val()),
                function(data) {
                    if (data.indexOf('Errors:') > -1) {
                        $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                    } else {
                        $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                    }
                });
        } else {
            $('#InfoDetail').html('');
        }
    }
    
    function ResetPassword() {
            if ($('#OrderNo').val().length > 0) {
                $.get("@Url.Action("ResetPassword", "CommonAuthAction")?usd=" + a2hex($('#OrderNo').val()),
                    function(data) {
                        if (data.indexOf('Errors:') > -1) {
                            $('#InfoDetail').html(data).removeClass('text-success').addClass('text-danger');
                        } else {
                            $('#InfoDetail').html(data).removeClass('text-danger').addClass('text-success');
                        }
                    });
            } else {
                $('#InfoDetail').html('');
            }
    }

    function SwitchDistributer() {
        LoadDistributers();

        if ($.fn.DataTable.isDataTable('#datatable-grid-searchuser')) {
            $('#datatable-grid-searchuser').DataTable().destroy();
        }
        $('#datatable-grid-searchuser tbody').empty();
        $('#datatable-grid-searchuser thead').empty();
        $('#userId').val("");
        $("#submitButton").attr("disabled", true);
        $('#userId').attr("alt", '');
        $('#ModalPopUp').modal('show');
    }

    function ShowUserDetails() {
        if ($('#userId').val().length > 0) {
            if ($.fn.DataTable.isDataTable('#datatable-grid-searchuser')) {
                $('#datatable-grid-searchuser').DataTable().destroy();
            }
            $('#datatable-grid-searchuser tbody').empty();
            $('#datatable-grid-searchuser thead').empty();

            var id = $('#userId').val();
            var $table = $('#datatable-grid-searchuser');
            $table.dataTable({
                searching: false,
                paging: false,
                info: false,
                ordering: false,
                destroy: true,
                bProcessing: true,
                bAutoWidth: true,
                sAjaxSource: '@Url.Action("GetUserDetails", "CommonAuthAction")?id=' + id,
                rowId: 'Id',
                cache: false,
                columns: [
                    { data: "Id", title: "id" }, { data: "RetailerName", title: "Retailer Name" }, 
                    { data: "ParentName", title: "Current Disributor" }, 
                    {
                        title: "Active/Inactive",
                        data: null, render: function (data, type, row) {
                            if (row.Active == 1)
                                return "<input placeholder='active' type='checkbox' class='form - control' data-style='btn -default' autocomplete='off' checked disabled />";
                            else
                                return "<input placeholder='active' type='checkbox' class='form - control' data-style='btn -default' autocomplete='off' disabled />";
                        }
                    }
                ]
            });
            $table
                .on('xhr.dt', function (e, settings, json, xhr) {
                    if (json.data.length) {
                        $("#submitButton").attr("disabled", false);
                        console.log(json.data);
                        $('#userId').attr("alt", json.data[0].Id);
                    }
                    else {
                        $("#submitButton").attr("disabled", true);
                        $('#userId').attr("alt", '');
                    }
                });
        } else {
            $('#InfoDetail').html('');
        }
    }

    function LoadDistributers() {
        $.getJSON("@Url.Action("DistributorList", "CommonAuthAction", new { id = 6 })", function (data) {
            $("#distributor").empty();
            $.each(data, function (index, value) {
                $('#distributor').append('<option value="' + value.Id + '">' + value.DistributorName + '</option>');
            });
        });
    }

    function Edit(id){
        window.location.href = '@Url.Action("UpdateUser", "SysAdmin")?id=' + id;
    }

    function REG(id){
        $.get('@Url.Action("RegisterUPPCL", "CommonAuthAction")?id=' + id, function (data) {
            //console.log(data);
            alert(data);
        });
    }
    
    function ACT(id){
        $.get('@Url.Action("ActUPPCL", "CommonAuthAction")?id=' + id, function (data) {
            alert(data);
        });
    }

    function DEACT(id){
        $.get('@Url.Action("DeActUPPCL", "CommonAuthAction")?id=' + id, function (data) {
            alert(data);
        });
    }

    
</script>