@model SaralESuvidha.ViewModel.RetailUserViewModel

@{
    Layout = "_LayoutMasterDistributor";
    ViewData["title"] = "Create Distributor - Result";
}


<div class="callout callout-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")">
    <h5>Distributor Name - @Model.FirstName @Model.MiddleName @Model.LastName</h5>
    <p>City - @Model.City</p>
    <p>Mobile Number - @Model.Mobile</p>
    <hr>
    <p class="text-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")"><strong>@Model.OperationMessage</strong></p>
</div>

<div class="card-body" style="padding-left: 0px;">
    <a class="btn btn-primary" asp-controller="MasterDistributor" asp-action="Index">Dashboard</a>
    <a class="btn btn-primary" asp-controller="MasterDistributor" asp-action="CreateDistributor">Create New Distributor</a>
</div>