@model SaralESuvidha.ViewModel.UPPCLOTSReciptModal
@{
    Layout = "_LayoutBlank";
}
    <html>
    <head>
        <title>RECEIPT PRINT - @Model.TelecomOperatorName - @Model.RechargeMobileNumber</title>
        <style type="text/css">
            body {
                font-family: sans-serif;
            }

            .head {
                text-align: right;
                padding: 10px 20px 10px 20px;
                font-size: small;
                width: 25%;
            }
            
            h1{
                font-size: larger;
            }

            .headvalue {
                text-align: left;
                padding: 10px 0 10px 0;
                width: 25%;
            }

            .border_bottom {
                border-bottom: 1px solid #CCCCCC;
            }

            .border_top {
                border-top: 1px solid #CCCCCC;
            }

            .grey_color {
                color: #888888;
            }

            .small_font {
                font-size: 12px;
                padding: 5px;
            }
            .table {
              border: 1px solid  #000000 !important;
              border-collapse: collapse;
            }
            
            .tableData td{
              border-bottom: 2px solid #000000 !important;
              border-left: 2px solid  #000000 !important;
              border-right: 2px solid  #000000 !important;
              border-top: 2px solid  #000000 !important;
              padding: 5px;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center;">
            <table cellpadding="0" cellspacing="0" border="0" style="width:1050px;">
                <tr>
                    <td style="text-align: center;" class="">
                        <img src="~/images/@(Model.ApiOperatorCode).png" style="" alt="@Model.TelecomOperatorName" />
                    </td>
                    <td colspan="2" style="text-align: left; vertical-align: middle;" class="">
                        <h1>@Model.TelecomOperatorName</h1>
                    </td>
                    <td style="text-align: center;" class="border_bottom">
                        <img width="80" height="80" src="@(Model.QrCode)" style="" alt="Verify Receipt QR Code" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><hr /></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="text-align: center;">
                            <h1>एक मुश्त समाधान योजना पंजीकरण पावती</h1>
                        </div>
                    </td>                    
                </tr>
                <tr>
                    <td colspan="4"><hr /></td>
                </tr>
                 <tr>
                    <td colspan="4">
                        <div style="text-align: center; margin-left: 20px;" id="info">                            
                        </div>                        
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="text-align: left; margin: 20px 20px;" >
                            प्रिय उपभोक्ता,
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="text-align: justify; margin-bottom: 20px; margin-left: 20px;" id="para">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding-top: 10px; padding-bottom: 10px;">
                        <hr />
                        <div style="text-align: center; margin-left: 20px;" id="installment">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="text-align: center;">
                            <p>
                                <strong>
                                    नोट: उक्त बकाये किश्तों का भुगतान अग्रिम भुगतान (Advance Payment) के रूप में भी किया जा सकता है। धन्यवाद|
                                </strong>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                         <div style="text-align: center;">
                            <p>
                                Agency: Saral ECommerce Pvt Ltd
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align: center; padding: 10px;">
                        <input type="button" name="btnPrint" value="PRINT" onclick="javascript: PrintReceipt();" />
                    </td>
                </tr>
            </table>
        </div>
        <script type="text/javascript">
        function PrintReceipt() {
            window.print();
        }
        var div = document.getElementById('info');
        var abc = '@Model.InfoTable'
         abc = abc.replace(/&gt;/g, '>');
            abc = abc.replace(/&lt;/g, '<');
            abc = abc.replace(/&quot;/g, '"');
            abc = abc.replace(/&apos;/g, "'");
            abc = abc.replace(/&amp;/g, '&');
            div.innerHTML += '<center>' + abc + '</center>';

            var div1 = document.getElementById('para');
            div1.innerHTML += '@Model.Para1';
            
            abc = '@Model.InstallmentTable';
            var div2 = document.getElementById('installment');
            abc = abc.replace(/&gt;/g, '>');
            abc = abc.replace(/&lt;/g, '<');
            abc = abc.replace(/&quot;/g, '"');
            abc = abc.replace(/&apos;/g, "'");
            abc = abc.replace(/&amp;/g, '&');
            abc = abc.replace(/&amp;/g, '&');
            
            div2.innerHTML += abc;
        </script>
    </body>
    </html>