@model SaralESuvidha.ViewModel.RetailUserViewModel

@{
    Layout = "_LayoutDistributor";
    ViewData["title"] = "Create Retailer - Result";
}


<div class="callout callout-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")">
    <h5>Retailer Name - @Model.FirstName @Model.MiddleName @Model.LastName</h5>
    <p>City - @Model.City</p>
    <p>Mobile Number - @Model.Mobile</p>
    <hr>
    <p class="text-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")"><strong>@Model.OperationMessage</strong></p>
    <p class="text-danger"><strong>Account is not yet active. Please contact with admin for activation.</strong></p>
</div>

<div class="card-body" style="padding-left: 0px;">
    <a class="btn btn-primary" asp-controller="Distributor" asp-action="Index">Dashboard</a>
    <a class="btn btn-primary" asp-controller="Distributor" asp-action="CreateRetailer">Create New Retailer</a>
</div>