@model SaralESuvidha.ViewModel.RetailUserViewModel

@{
    Layout = "_LayoutSysAdmin";
    ViewData["title"] = "Update User - Result";
}


    <div class="callout callout-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")">
        <h5>User Name - @Model.FirstName @Model.MiddleName @Model.LastName</h5>
        <p>City - @Model.City</p>
        <p>Mobile Number - @Model.Mobile</p>
        <hr>
        <p class="text-@(Model.OperationMessage.Contains("Error:") ? "danger" : "success")"><strong>@Model.OperationMessage</strong></p>
    @* <p class="text-danger @(Model.KYCRequired.ToString().Equals("1") ? "" : "d-none")"><strong>Account is not yet active. Please complete KYC for activation.</strong></p> *@
    </div>

    <div class="card-body" style="padding-left: 0px;">
        <a class="btn btn-primary" asp-controller="SysAdmin" asp-action="Index">Dashboard</a>
        <a class="btn btn-primary" asp-controller="SysAdmin" asp-action="CreateMasterDistributor">Create New Master Distributor</a>
    </div>
